@model IEnumerable<MVCModels.Web.Models.Product>
@{
    ViewData["Title"] = "Index";
}

<h2>All Products</h2>

<div id="card-page">

    @{
        ViewData["Action"] = "";
        ViewData["Controller"] = "";
    }
    <partial name="_Filters" />

    <div class="main-content">

        <!-- Container for Sorting Choices
            Each link should take the user to this current page and use any combination of the following
            querystring parameters to sort the page:
            - sortOrder (string) - PriceLowToHigh,PriceHighToLow,RatingHighToLow
        -->
        <div id="sorting-options">
            <h3>Sort By</h3>
            <ul>
                <li><a href="#">Price - Low to High</a></li>
                <li><a href="#">Price - High to Low</a></li>
                <li><a href="#">Rating - High to Low</a></li>
            </ul>
        </div>

        <!-- Container for all of the Products -->
        <div id="grid">
            @foreach (Product item in Model)
            {
                <!-- The following HTML shows different examples of what HTML
                could be rendered based on different rules. For purposes
                of demonstration we've written it out so you can see it
                when you load the page up. -->
                <!-- Standard Product (assuming no special cases) -->
                @if (!item.IsTopSeller && item.RemainingStock > 0)
                {
                    <div class="tile ">

                        <!-- Link to the Detail page using the product id (e.g. Products/Detail/1) -->
                        <a class="product-image" asp-action="Detail" asp-route-id="@item.Id">
                            <img src="/images/product-images/@item.ImageName" />
                        </a>
                        <div class="details">
                            <p class="name">@item.Name</p>

                            <!-- .filled will make the star solid -->
                            <div class="rating">
                                @switch (Convert.ToInt32(@item.AverageRating))
                                {

                                    case 1:
                                        <span class="filled">&#9734;</span>
                                        <span>&#9734;</span>
                                        <span>&#9734;</span>
                                        <span>&#9734;</span>
                                        <span>&#9734;</span>
                                        break;
                                    case 2:
                                        <span class="filled">&#9734;</span>
                                        <span class="filled">&#9734;</span>
                                        <span>&#9734;</span>
                                        <span>&#9734;</span>
                                        <span>&#9734;</span>
                                        break;
                                    case 3:
                                        <span class="filled">&#9734;</span>
                                        <span class="filled">&#9734;</span>
                                        <span class="filled">&#9734;</span>
                                        <span>&#9734;</span>
                                        <span>&#9734;</span>
                                        break;
                                    case 4:
                                        <span class="filled">&#9734;</span>
                                        <span class="filled">&#9734;</span>
                                        <span class="filled">&#9734;</span>
                                        <span class="filled">&#9734;</span>
                                        <span>&#9734;</span>
                                        break;
                                    case 5:
                                        <span class="filled">&#9734;</span>
                                        <span class="filled">&#9734;</span>
                                        <span class="filled">&#9734;</span>
                                        <span class="filled">&#9734;</span>
                                        <span class="filled">&#9734;</span>
                                        break;
                                    default:
                                        <span>&#9734;</span>
                                        <span>&#9734;</span>
                                        <span>&#9734;</span>
                                        <span>&#9734;</span>
                                        <span>&#9734;</span>
                                        break;
                                }

                            </div>

                            <p class="price">$@item.Price</p>
                        </div>

                    </div>
                }

                @if (item.IsTopSeller && item.RemainingStock > 0)
                {
                    <div class="tile ">

                        <!-- Include this if the product is considered a Top Seller -->

                        <span class="banner top-seller">Top Seller!</span>


                        <!-- Link to the Detail page using the product id (e.g. Products/Detail/1) -->
                        <a class="product-image" asp-action="Detail" asp-route-id="@item.Id">
                            <img src="/images/product-images/@item.ImageName" />
                        </a>
                        <div class="details">
                            <p class="name">@item.Name</p>

                            <!-- .filled will make the star solid -->
                            <div class="rating">
                                @switch (Convert.ToInt32(@item.AverageRating))
                                {

                                    case 1:
                                        <span class="filled">&#9734;</span>
                                        <span>&#9734;</span>
                                        <span>&#9734;</span>
                                        <span>&#9734;</span>
                                        <span>&#9734;</span>
                                        break;
                                    case 2:
                                        <span class="filled">&#9734;</span>
                                        <span class="filled">&#9734;</span>
                                        <span>&#9734;</span>
                                        <span>&#9734;</span>
                                        <span>&#9734;</span>
                                        break;
                                    case 3:
                                        <span class="filled">&#9734;</span>
                                        <span class="filled">&#9734;</span>
                                        <span class="filled">&#9734;</span>
                                        <span>&#9734;</span>
                                        <span>&#9734;</span>
                                        break;
                                    case 4:
                                        <span class="filled">&#9734;</span>
                                        <span class="filled">&#9734;</span>
                                        <span class="filled">&#9734;</span>
                                        <span class="filled">&#9734;</span>
                                        <span>&#9734;</span>
                                        break;
                                    case 5:
                                        <span class="filled">&#9734;</span>
                                        <span class="filled">&#9734;</span>
                                        <span class="filled">&#9734;</span>
                                        <span class="filled">&#9734;</span>
                                        <span class="filled">&#9734;</span>
                                        break;
                                    default:
                                        <span>&#9734;</span>
                                        <span>&#9734;</span>
                                        <span>&#9734;</span>
                                        <span>&#9734;</span>
                                        <span>&#9734;</span>
                                        break;
                                }
                            </div>

                            <!-- Include this if the remaining quantity is greater than 0, but less than or equal to 5 -->
                            @if (item.RemainingStock > 0 && item.RemainingStock <= 5)
                            {
                                <span class="product-alert">Only @item.RemainingStock left!</span>
                            }
                            <p class="price">$@item.Price</p>
                        </div>


                    </div>
                }

                <!-- Add the .sold-out class if the remaining quantity is 0 -->
                @if (item.RemainingStock == 0)
                {
                    <div class="tile sold-out">
                        <!-- Include this if the remainig quantity is 0 -->

                            <span class="banner">Sold Out</span>

                        <!-- Link to the Detail page using the product id (e.g. Products/Detail/1) -->
                        <a class="product-image" asp-action="Detail" asp-route-id="@item.Id">
                            <img src="/images/product-images/@item.ImageName" />
                        </a>
                        <div class="details">
                            <p class="name">@item.Name</p>

                            <!-- .filled will make the star solid -->
                            <div class="rating">
                                @switch (Convert.ToInt32(@item.AverageRating))
                                {

                                    case 1:
                                        <span class="filled">&#9734;</span>
                                        <span>&#9734;</span>
                                        <span>&#9734;</span>
                                        <span>&#9734;</span>
                                        <span>&#9734;</span>
                                        break;
                                    case 2:
                                        <span class="filled">&#9734;</span>
                                        <span class="filled">&#9734;</span>
                                        <span>&#9734;</span>
                                        <span>&#9734;</span>
                                        <span>&#9734;</span>
                                        break;
                                    case 3:
                                        <span class="filled">&#9734;</span>
                                        <span class="filled">&#9734;</span>
                                        <span class="filled">&#9734;</span>
                                        <span>&#9734;</span>
                                        <span>&#9734;</span>
                                        break;
                                    case 4:
                                        <span class="filled">&#9734;</span>
                                        <span class="filled">&#9734;</span>
                                        <span class="filled">&#9734;</span>
                                        <span class="filled">&#9734;</span>
                                        <span>&#9734;</span>
                                        break;
                                    case 5:
                                        <span class="filled">&#9734;</span>
                                        <span class="filled">&#9734;</span>
                                        <span class="filled">&#9734;</span>
                                        <span class="filled">&#9734;</span>
                                        <span class="filled">&#9734;</span>
                                        break;
                                    default:
                                        <span>&#9734;</span>
                                        <span>&#9734;</span>
                                        <span>&#9734;</span>
                                        <span>&#9734;</span>
                                        <span>&#9734;</span>
                                        break;
                                }
                            </div>

                            <p class="price">$@item.Price</p>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>